#style_file 
{
	width:500px;
	height:50px;
	background-color:red;
<<<<<<< HEAD
	color:yellow;
	background-color:green;
=======
	color:green;
>>>>>>> testing
}
#style_file p
{
	text-align: left;
	color: white;
}
